<form [formGroup]="campaignForm" (ngSubmit)="onSubmit()">

    <label for="campaignName">Campaign Name:</label>
    <input type="text" id="campaignName" formControlName="campaignName">
  
    <label for="keywords">Keywords:</label>
    <input type="text" id="keywords" formControlName="keywords" placeholder="Enter keywords...">
  
    <label for="bidAmount">Bid Amount:</label>
    <input type="number" id="bidAmount" formControlName="bidAmount">

    <label for="campaignFund">Campaign Fund:</label>
    <input type="number" id="campaignFund" formControlName="campaignFund">
  
    <label for="status">Status:</label>
    <select id="status" formControlName="status">
      <option value="on">On</option>
      <option value="off">Off</option>
    </select>
  
    <label for="town">Town:</label>
    <select id="town" formControlName="town">
        <option value="Cracow">Cracow</option>
        <option value="Warsaw">Warsaw</option>
        <option value="Wroclaw">Wroclaw</option>
    </select>
  
    <label for="radius">Radius:</label>
    <input type="number" id="radius" formControlName="radius">
  
    <button type="submit" [disabled]="!campaignForm.valid">Submit</button>
    <p class="info" *ngIf="!campaignForm.valid">All fields are required.</p>
  </form>
  